[MAIN]
disable=
    C0103,
    C0114,
    C0115,
    C0116,
    R0901,
    W0621,

[SIMILARITIES]
min-similarity-lines=10

[MASTER]
ignore-paths=.*/migrations, .*/management/commands, homework_07/manage.py, homework_01/*, homework_02/*, homework_03/*, homework_04/*, homework_05/*, homework_06/*, testing/*
load-plugins=pylint_django
django-settings-module=homework_07.water_metering.settings
max-line-length=120