[MAIN]
disable=
    C0114,
    C0115,
    C0116,
    R0901,

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=10

[MASTER]
ignore-paths=.*/migrations, .*/management/commands, manage.py
load-plugins=pylint_django
django-settings-module=water_metering.settings
max-line-length=120