{% extends "base.html" %}

{% block title %}
{{object.name}}
{% endblock %}

{% block main %}


<h3>{{object.address}}</h3>
<span class="mb-3">{{object.category}} / "{{object.type}}", серийный номер: {{object.serial_num }}</span>

<ul>
    {% for data in object.meterdata_set.all|dictsortreversed:"date_time" %}
        <li>{{data.date_time|date:"Y-m-d H:i:s"}}: Показания - {{data.data}}</li>
    {% endfor %}
</ul>


{% if user.is_staff or user.is_superuser %}
<a class="m-3" href="{% url 'meters:meter_list' %}">
    Назад
</a>
<a href="{% url 'meters:meter_delete' pk=object.pk %}">
    Удалить датчик
</a>
{% else %}
<a href="{% url 'meters:meter_data_create' pk=object.pk %}">
    Добавить показания
</a>
<a class="mt-3" href="{% url 'users:detail' pk=user.pk %}">
    Назад
</a>
{% endif %}
{% endblock %}